body {
    cursor: none;
}

.bg {
    pointer-events: none;
    z-index: 1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.grid {

    z-index: 100;
    position: fixed;
    pointer-events: none;
    filter: blur(0.63px);
    

    width: 100vw;
    height: 100vh;

    background-image:

        linear-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 1px),
        linear-gradient(to right, rgba(0, 0, 0, 0.4) 1px, transparent 1px);
    background-size: 2px 2px;
}

.back_button {
    border-bottom-style: dashed;
    border-bottom-width: 0px;
    transition-duration: 0.1s;
}

.back_button:hover {
    transition-duration: 0.1s;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.vhs_text {
    filter: blur(0.5px);
    text-shadow: 6px 0 2px rgba(0, 0, 255, 0.4);
}

.vhs_text:hover {
    text-shadow: none;
}

.colorize {
    text-shadow: #171D99 -4px 0px 1px, #13562b 3px 0px 1px;
}